.Info-box {
    height: 1fr;
    width: 1fr;
    border: solid green;
}

.Log-box {
    height: 1fr;
    width: 1fr;
    border: solid white;
}

.menu-item {
    height: 1fr;
    width: 1fr;
    border: solid yellow;
}

.menu-print {
    height: 1fr;
    width: 1fr;
    border: solid blue;
}

.menu-log {
    height: 1fr;
    width: 1fr;
    border: solid purple;
}


